mixin inputRange()
    .field__container-range
        span.field__range-label Sed ut perspiciatis, unde omnis iste natus

        <input id="range" class="field field__range" type="range" name="range" min="0" max="100" step="1" value="75" />