$black: #000;

$dark: #2A2B30;
$darker: #10101D;
$dark-grey: #272733;

$blue: #43ABF0;
$bluest-dark: #3E9CDC;
$blue-light: #43ABF0;
$bluest: #286690;

$white: #fff;

$grey: #C3C3C3;
$greyer: #6F6D7B;
$grey-darck: #3D4050;

$red: #cc0000;




$text-color-first: $black;
$text-color-secondary: $white;
$text-color-third: $grey;
$text-color-fours: $blue;


$primary-color-link: $white;
$primary-color-link-hover: $blue;

$secondary-color-link: $grey;


$field-color-primary: $dark-grey;
$field-error-border: $red;

$btn-color-primary: $dark;
$btn-color-secondary: $white;



$primary-bg: $dark-grey;
$secondary-bg: $darker;
$third-bg: $grey-darck;

$field-first-bg: $white;

$btn-first-bg: $white;
$btn-secondary-bg: $blue;
$btn-third-bg: $bluest-dark;

$border-color-first: $greyer;
$border-color-second: $bluest;
$border-color-secondary: $blue-light;
$border-color-third: $white;
$border-color-fours: $grey-darck;
$border-color-arrow: $black;




$transition-base: 300ms;