include data


.checkout
    .center
        h2.js-animate Оформление
            strong
                |  Заказа

        .checkout__desc.js-animate Перед заполнением формы ознакомьтесь с нашей схемой работы!

        include ./../steps/steps
        include ./checkout-form