-
    let steps = [
        { icn: 'search.svg', title: 'Lorem ipsum dolor sit amet'},
        { icn: 'percent.svg', title: 'Сonsecteturadipiscing elit'},
        { icn: 'list.svg', title: 'Sed do eiusmod tempor'},
        { icn: 'mail.svg', title: 'Esse cillum dolore eu fugiat'},
        { icn: 'money.svg', title: 'Excepteur sint occaecat cupidatat non proident'}
    ]


-
    let checkoutMail = {
        id: 'mail',
        className: 'field field__mail js-input js-input-email',
        type: 'text',
        fieldName: 'mail',
        placeholder: ' ',
        label: 'Ваш e-mail'
    }


-
    let checkoutName = {
        id: 'name',
        className: 'field field__name js-input',
        type: 'text',
        fieldName: 'name',
        placeholder: ' ',
        label: 'Ваше имя'
    }


-
    let btnCheckoutSubmit = {
        id: "btn-send",
        className: 'btn btn--blue js-fullSize',
        type: 'submit',
        label: 'Отправить',
    }


-
    let selectOptions = [
        {
            value: 'perspiciatis',
            title: 'Sed ut perspiciatis'
        },
        {
            value: 'nemo',
            title: 'Nemo enim ipsam'
        },
        {
            value: 'quidem',
            title: 'Et harum quidem'
        },
        {
            value: 'autem',
            title: 'Temporibus autem'
        },
        {
            value: 'rerum',
            title: 'Itaque earum rerum'
        },
        {
            value: 'perspiciati',
            title: 'Sed ut perspiciatis'
        },
        {
            value: 'nem',
            title: 'Nemo enim ipsam'
        },
        {
            value: 'quide',
            title: 'Et harum quidem'
        },
        {
            value: 'aute',
            title: 'Temporibus autem'
        },
        {
            value: 'reru',
            title: 'Itaque earum rerum'
        }
    ]