include data

.banner
    .center
        h1.js-animate
            strong Lorem ipsum
            |  dolor sit
            span amet consectetur
                strong
                    |  adipiscing

        .banner__desc.js-animate At vero eos et accusamus et iusto odio dignissimos ducimus!
        ul.banner__list.js-animate
            li.banner__list-item - Totam rem aperiam eaque ipsa
            li.banner__list-item - Sit voluptatem accusantium doloremque laudantium
            li.banner__list-item - Sed ut perspiciatis, unde omnis iste natus error

        .btn__wrap.js-fullSize
            +btn(btnOrder)
            +btn(moreLink)
