-
    let btnOrder = {
        className: 'btn btn--blue',
        type: 'button',
        label: 'заказать',
    }

-
    let moreLink = {
        className: 'btn',
        type: 'link',
        btnUrl: '##',
        label: 'подробнее'
    }