-
    let contactLinks = [
        {
            link: 'mailto:info@ipsum228.com',
            title: 'info@ipsum228.com',
            icnUrl: 'footer-mail.svg'
        },
        {
            link: ' https://vk.com',
            title: 'Мы вконтакте',
            icnUrl: 'vk.svg',
            blank: true
        }
    ]