.footer.js-fullSize
    .center
        .copy  © 2018 «LoremIpsum.net» Все права защищены.
        .footer__column
            include ./../pay-list/pay-list
            include ./../contact-links/contact-links