mixin download()
    .upload
        input.upload__field(id="download" type="file" hidden)
        label.upload__text(for="download")
            img(src="./img/doc.svg", alt="Upload")
            |Прикрепить файл