-
    let payList = [
        {
            link: 'https://qiwi.com/settings/nickname',
            title: 'Qiwi wallet',
            icnUrl: 'qiwi.svg'
        },
        {
            link: 'https://yoomoney.ru/',
            title: 'Yandex Money',
            icnUrl: 'ymoney.svg'
        },
        {
            link: 'https://www.webmoney.ru/',
            title: 'Web Money',
            icnUrl: 'webmoney.svg'
        }
    ]